[defaults]
roles_path = ansible/roles
inventory = localhost,
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/cache
gathering = smart
fact_caching_timeout = 86400
inject_facts_as_vars = False
