{{- $name := dig "git" "name" "" . -}}
{{- $email := dig "git" "email" "" . -}}
{{- if or $name $email -}}
[user]
{{- if $name }}
	name = {{ $name | quote }}
{{- end }}
{{- if $email }}
	email = {{ $email | quote }}
{{- end }}
{{- end }}
