{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail
target="$HOME/.config/monitors.xml"
if [ -L "$target" ]; then
    if [ -e "$target" ]; then
        real="$(readlink -f "$target")"
        rm "$target"
        cp "$real" "$target"
    else
        rm "$target"
    fi
fi
{{- end }}
