[tools]
node = "{{ .devtools.runtimes.node }}"
java = "{{ .devtools.runtimes.java }}"
go = "{{ .devtools.runtimes.go }}"
python = "{{ .devtools.runtimes.python }}"
pnpm = "{{ .devtools.tools.pnpm }}"
uv = "{{ .devtools.tools.uv }}"
maven = "{{ .devtools.tools.maven }}"
gradle = "{{ .devtools.tools.gradle }}"
