[Desktop Entry]
Type=Application
Name=Omarchy: File manager (Dolphin)
Exec=dolphin
Icon=system-file-manager
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
