[Desktop Entry]
Type=Application
Name=Omarchy: Browser (Edge)
Exec=flatpak run com.microsoft.Edge
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
