[Desktop Entry]
Type=Application
Name=Omarchy: AI agent (Claude Code)
Exec=ghostty -e {{ .chezmoi.homeDir }}/.local/share/mise/shims/claude
Icon=com.mitchellh.ghostty
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
