[Desktop Entry]
Type=Application
Name=Omarchy: Power panel
Exec=/usr/bin/kcmshell6 kcm_powerdevilprofilesconfig
Icon=battery
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
