[Desktop Entry]
Type=Application
Name=Omarchy: Terminal (Ghostty)
Exec=ghostty
Icon=com.mitchellh.ghostty
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
