[Desktop Entry]
Type=Application
Name=Omarchy: Browser private (Edge)
Exec=flatpak run com.microsoft.Edge --inprivate
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
