[Desktop Entry]
Type=Application
Name=Omarchy: New email (Gmail)
Exec=flatpak run com.microsoft.Edge --app="https://mail.google.com/mail/?view=cm"
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
