[Desktop Entry]
Type=Application
Name=Omarchy: Email (Gmail)
Exec=flatpak run com.microsoft.Edge --app=https://mail.google.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
