[Desktop Entry]
Type=Application
Name=Omarchy: Editor (Neovim)
Exec=/usr/bin/ghostty -e nvim
Icon=nvim
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
