[Desktop Entry]
Type=Application
Name=Omarchy: AI (Claude)
Exec=flatpak run com.microsoft.Edge --app=https://claude.ai
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
