[Desktop Entry]
Type=Application
Name=Omarchy: YouTube
Exec=flatpak run com.microsoft.Edge --app=https://youtube.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
