[Desktop Entry]
Type=Application
Name=Omarchy: Screen recording (region)
Exec=spectacle -R r
Icon=spectacle
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
