[Desktop Entry]
Type=Application
Name=Omarchy: Calendar (Google)
Exec=flatpak run com.microsoft.Edge --app=https://calendar.google.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
