[Desktop Entry]
Type=Application
Name=Omarchy: Audio panel
Exec=kcmshell6 kcm_pulseaudio
Icon=audio-volume-high
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
