[Desktop Entry]
Type=Application
Name=Omarchy: AI agent (Claude Code)
Exec=/usr/bin/ghostty -e {{ .chezmoi.homeDir }}/.local/bin/claude
Icon=com.mitchellh.ghostty
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
