[Desktop Entry]
Type=Application
Name=Omarchy: Google Photos
Exec=flatpak run com.microsoft.Edge --app=https://photos.google.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
