[Desktop Entry]
Type=Application
Name=Omarchy: Google Maps
Exec=flatpak run com.microsoft.Edge --app=https://maps.google.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
