[Desktop Entry]
Type=Application
Name=Omarchy: AI (ChatGPT)
Exec=flatpak run com.microsoft.Edge --app=https://chatgpt.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
