[Desktop Entry]
Type=Application
Name=Omarchy: X
Exec=flatpak run com.microsoft.Edge --app=https://x.com
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
