[Desktop Entry]
Type=Application
Name=Omarchy: X Compose
Exec=flatpak run com.microsoft.Edge --app=https://x.com/compose/post
Icon=com.microsoft.Edge
NoDisplay=true
Terminal=false
X-KDE-Omarchy=true
